@charset "UTF-8";
@font-face {
  font-family: 'swiftysiteui';
  src: url('fonts/swiftysiteui.eot?swcv=scc_/*@echo RELEASE_TAG*/');
  src: url('fonts/swiftysiteui.eot?#iefix&swcv=scc_/*@echo RELEASE_TAG*/') format('embedded-opentype'), url('fonts/swiftysiteui.woff?swcv=scc_/*@echo RELEASE_TAG*/') format('woff'), url('fonts/swiftysiteui.ttf?swcv=scc_/*@echo RELEASE_TAG*/') format('truetype'), url('fonts/swiftysiteui.svg#swiftysiteui?swcv=scc_/*@echo RELEASE_TAG*/') format('svg');
  font-weight: normal;
  font-style: normal;
}
#wp-admin-bar-swifty div.ab-item {
  cursor: pointer;
}
#wp-admin-bar-swifty div.ab-item .ab-icon:before {
  font-family: 'swiftysiteui' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 25px;
  font-size: 16px;
  content: '\e03d';
}
